.div_class {
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#333333;
    background-color:#FFFFFF;
    overflow-y:hidden;
    margin: 20px 0 0 20px;
    padding:16px 0;
    line-height:17px;
    display: flex;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    text-size-adjust:none;
}
a{
    color:#555555;
    font-weight:bold;
}
a:hover{
    color:#AAAAAA
}
.toplink{
    display:block;
    width:0;
    height:18px;
}
.selflink{
    color:#333333;
    text-decoration:none!important;
    cursor:pointer!important;
    outline:none;
}
pre{
    background-color:#EEEEEE;
    border:1px solid #DDDDDD;
    padding:5px;margin:0;
    margin-top:1px;
    margin-bottom:1px;
    overflow:auto;
    border-radius:2px;
    -webkit-border-radius:2px;
    -ms-border-radius:2px;
    box-shadow:inset 0 0 2px #FFFFFF;
    -webkit-box-shadow:inset 0 0 2px #FFFFFF;
    -ms-box-shadow:inset 0 0 2px #FFFFFF;
}
.preinfo{
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    margin-top:-3px;
    padding:13px 10px 11px 11px;
    border-radius:0 0 2px 2px;
    -webkit-border-radius:0 0 2px 2px;
    -ms-border-radius:0 0 2px 2px;
    box-shadow:inset 0 -1px 2px #DDDDDD;
    -webkit-box-shadow:inset 0 -1px 2px #DDDDDD;
    -ms-box-shadow:inset 0 -1px 2px #DDDDDD;
}
.img{
    display:block;
    width:504px;
    height:310px;
    border:1px solid #DDDDDD;
    background-size:cover;
}